<aside class="sidebar">
    <a href="/" class="sidebar-header">
        <span style="color: var(--text-main);">Pushtaka</span><span style="color: var(--primary);">API</span>
    </a>
    <nav class="sidebar-nav">
        <ul>
            <li><a href="#introduction" class="active">Pengantar</a></li>
            <li><a href="#base-url">Base URL</a></li>
        </ul>



        <div class="nav-section">Autentikasi</div>
        <ul>
            <li><a href="#auth-register">Register</a></li>
            <li><a href="#auth-login">Login</a></li>
            <li><a href="#auth-otp">OTP & Password</a></li>
            <li><a href="#auth-profile">Profile</a></li>
        </ul>

        <div class="nav-section">Buku</div>
        <ul>
            <li><a href="#book-list">Lihat Daftar</a></li>
            <li><a href="#book-detail">Detail Buku</a></li>
            <li><a href="#book-admin">Admin Buku</a></li>
            <li><a href="#favorites">Favorit</a></li>
        </ul>

        <div class="nav-section">Transaksi</div>
        <ul>
            <li><a href="#borrow">Pinjam Buku</a></li>
            <li><a href="#return">Kembalikan Buku</a></li>
            <li><a href="#history">Riwayat</a></li>
            <li><a href="#transaction-admin">Admin & Testing</a></li>
        </ul>

        <div class="nav-section">Admin</div>
        <ul>
            <li><a href="#settings">Pengaturan</a></li>
            <li><a href="#users">Manajemen User</a></li>
        </ul>
    </nav>
</aside>