<header>
    <div class="header-inner">
        <a href="/" class="logo">Pushtaka<span>.</span></a>
        <button class="mobile-menu-btn" aria-label="Toggle Menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <nav>
            <ul class="nav-links">
                <li><a href="/p/about">Tentang</a></li>
                <li><a href="/p/installation">Instalasi</a></li>
                <li><a href="/p/documentation">Dokumentasi</a></li>
                <li><a href="/p/login" style="color: var(--primary);">Masuk</a></li>
                <li><a href="/p/register" class="nav-btn">Daftar</a></li>
            </ul>
        </nav>
    </div>
</header>